// Fonts
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//train-board
@import 'train-board';